<div *ngIf="!auth.isLogged && !registering">
  <div class="container">
    <div class="logo">
      <img src="./assets/img/logo.png"/>
    </div>
    <div class="card">
      <h1>Accedi</h1>
      <form #loginForm="ngForm">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="auth.email"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="auth.password"
            required
          />
        </div>
        <button
          type="submit"
          class="blue-button"
          (click)="loginForm.valid && checkLogin()">
          Entra
        </button>
      </form>
      <div class="links">
        <a (click)="registering = !registering">
         
          <p>Non hai un account?</p>
      </a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!auth.isLogged && registering">
  <div class="container">
    <div class="logo">
      <img
        src="./assets/img/logo.png"
      />
    </div>
    <div class="card">
      <h1>Registrati</h1>
      <form #registerForm="ngForm">
        <div class="form-group">
            <input
              type="name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Nome"
              [(ngModel)]="auth.name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="surname"
              class="form-control"
              id="surname"
              name="surname"
              placeholder="Cognome"
              [(ngModel)]="auth.surname"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="phoneNumber"
              class="form-control"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="Telefono"
              [(ngModel)]="auth.phoneNumber"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="age"
              class="form-control"
              id="age"
              name="age"
              placeholder="Età"
              [(ngModel)]="auth.age"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="role"
              class="form-control"
              id="role"
              name="role"
              placeholder="Ruolo (S/T)"
              [(ngModel)]="auth.role"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="cf"
              class="form-control"
              id="cf"
              name="cf"
              placeholder="CF"
              [(ngModel)]="auth.cf"
              required
            />
          </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="auth.email"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="auth.password"
            required
          />
        </div>
        <button
          type="submit"
          class="blue-button"
          (click)="registerForm.valid && addAccount()"
        >
          Registrati
        </button>
      </form>
      <div class="links">
        <a (click)="registering = !registering">Hai già un account?</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="auth.isLogged" class="wrapper">
  <div style="text-align: center" class="sidebar center" data-color="blue">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
