<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Corsi Seguiti</h4>
        </div>
        <div class="card-body">
          <div *ngIf="courses" class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Titolo
                </th>
                <th>
                  Materia
                </th>
                <th>
                  Insegnante
                </th>
                <th class="text-right">
                  Vedi Dettaglio 
                </th>
              </thead>
              <tbody *ngFor="let course of courses">
                <tr>
                  <td>
                    {{course.title}}
                  </td>
                  <td>
                    {{course.subject}}
                  </td>
                  <td>
                    <a  routerLinkActive="active" [routerLink]="['/user-profile', 'T']">
                      <p>{{course.teacher.surname}} {{course.teacher.name}}</p>
                    </a>
                  </td>
                  <td class="text-right">
                    <a  routerLinkActive="active" [routerLink]="['/detail-course', course.id]">
                      <p>{{course.id}}</p>
                  </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
