<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Corsi Seguiti</h4>
        </div>
        <div class="card-body">
          <div *ngIf="courses" class="table-responsive">
            <table class="table">
              <thead class="blue-text">
                <th>
                  Titolo
                </th>
                <th>
                  Materia
                </th>
                <th>
                  Descrizione
                </th>
                <th class="text-right">
                  Vedi Dettaglio 
                </th>
              </thead>
              <tbody *ngFor="let course of courses">
                <tr>
                  <td>
                    {{course.title}}
                  </td>
                  <td>
                    {{course.subject}}
                  </td>
                  <td>
                    {{course.description}}
                  </td>
                  <td class="text-right">
                    <a class="blue-text" routerLinkActive="active" [routerLink]="['/detail-course', course.id]">
                      <p>{{course.id}}</p>
                  </a>
                  </td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
