<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Id corso: {{course.id.toString()}}</h5>
          <h2>{{course.title.toString()}}</h2>
          <h5>{{course.subject.toString()}}</h5>
          <p>{{course.description.toString()}}</p>
          <p>{{course.teacher.toString()}}</p>
          <p>{{course.students.toString()}}</p>
        </div>
        <div class="card-body all-icons">
          
        </div>
      </div>
    </div>
  </div>
</div>
