<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 style="float: left;" class="title">Dettagli del corso con id {{courseid.toString()}}</h5>
          <button style="margin-left:300px; margin-top: -5px;" (click)="Unsubscribe()" class="btn btn-danger">Disiscriviti dal corso</button>
        </div>
        <div class="card-body all-icons">
          <p><strong>Titolo: </strong> {{course.title}}</p>
          <p><strong>Materia: </strong> {{course.subject}}</p>
          <p><strong>Prezzo: </strong> {{course.price}}</p>
          <p><strong>Descrizione: </strong> {{course.description}}</p>
          <!-- <p><strong>Docente: </strong><a [routerLink]="['/user-profile', 'T', course.teacher.id]"> {{course.teacher.name}}</a></p> -->
        </div>
      </div>
    </div>
  </div>
</div>
