.blue-button {
  background-color: rgb(136, 136, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.blue-text {
  color: rgb(136, 136, 255);
}

.card-user {
  height: 340px;
}
