<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">{{isTeacher == 'T'? 'Teacher Profile' : 'Edit Profile'}}</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Cognome</label>
                  <input type="text" name="Cognome" [disabled]="isTeacher == 'T'" class="form-control" placeholder="Cognome" [(ngModel)]="user.surname">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text" name="Nome" [disabled]="isTeacher == 'T'" class="form-control" placeholder="Nome" [(ngModel)]="user.name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input name="email" [(ngModel)]="user.emailAddress" [disabled]="isTeacher == 'T'" type="email" class="form-control" placeholder="Email"> 
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Cellulare</label>
                  <input name="Cellulare" type="text" class="form-control" [disabled]="isTeacher == 'T'" placeholder="Cellulare" [(ngModel)]="user.phoneNumber">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Età</label>
                  <input type="text" name="eta" class="form-control" [disabled]="isTeacher == 'T'" placeholder="Last Name"  [(ngModel)]="user.age">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Codice Fiscale</label>
                  <input type="text" name="CodiceFiscale" [disabled]="isTeacher == 'T'" class="form-control" placeholder="Codice Fiscale"  [(ngModel)]="user.cf">
                </div>
              </div>
            </div>
          </form>
          <button *ngIf="isTeacher == 'S'" type="button" class="blue-button" (click)="updateData()">Salva</button>
        </div>
        <a *ngIf="isTeacher == 'T'" style="margin-top: 20px; margin-left: 20px;" (click)="tableCoursesVisible = !tableCoursesVisible"> Mostra Altri corsi del docente 
          <i [className]="tableCoursesVisible ? 'now-ui-icons arrows-1_minimal-down' : 'now-ui-icons arrows-1_minimal-up'"></i>
        </a>

        <div *ngIf="isTeacher == 'T' && tableCoursesVisible" style="padding:20px;">
          <div *ngIf="coursesTeacher" class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Titolo
                </th>
                <th>
                  Materia
                </th>
                <th>
                  Descrizione
                </th>
                <th class="text-right">
                  Vedi Dettaglio 
                </th>
              </thead>
              <tbody *ngFor="let course of coursesTeacher">
                <tr>
                  <td>
                    {{course.title}}
                  </td>
                  <td>
                    {{course.subject}}
                  </td>
                  <td>
                    {{course.description}}
                  </td>
                  <td class="text-right">
                    <a  routerLinkActive="active" [routerLink]="['/detail-course', course.id]">
                      <p>{{course.id}}</p>
                  </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <!-- <img src="../assets/img/bg5.jpg" alt="..."> -->
        </div>
        <div class="card-body">
          <div class="author">

            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">{{user.name}} {{user.surname}}</h5>
            </a>
            <p class="description">
              {{user.emailAddress}}
            </p>
          </div>
          <div style="display:flex; align-items:center">
            <button *ngIf="isTeacher == 'S'" (click)="logout()" type="button" class="blue-button">Logout</button>
          </div>
          <div style="display:flex; align-items:center">
            <button *ngIf="isTeacher == 'S'" (click)="deleteAccount()" type="button" class="blue-button">Elimina Account</button>
          </div>
        </div>
        <hr>
        <!-- <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div> -->
      </div>
    </div>
    
  </div>
</div>
